.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 300px));
  grid-gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  position: relative;
  cursor: pointer;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.4);
  opacity: 0;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.project img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.project:hover .project-overlay {
  opacity: 1;
  transform: scale(0.9);
}

.project:hover img {
  opacity: 0.3;
  transform: scale(0.9);
}

.project:hover .project-name {
  color: #ffdd3a;
}

.project:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.project-name {
  position: absolute;
  bottom: 0; /* Adjusted to place the title below the image */
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  z-index: 1;
  white-space: normal;
}

.filter-bar-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 0 20px;
  position: relative;
}

.filter-bar {
  display: flex;
  background-color: black;
  padding: 5px 10%;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  --filter-bar-width: 100%;
}

.filter-bar button {
  background-color: transparent;
  border: none;
  padding: 8px 8px;
  margin-right: 10px;
  color: aliceblue;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  color: #bcb3b4;
  white-space: nowrap;
}

.filter-bar button:hover, button:focus {
  color: #ffdd3a;
  outline: none;
}
