.social-menu {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
}

.social-icon {
  position: relative;
}

.social-icon a {
  display: inline-block;
  width: 100px;
  height: 50px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  margin: 0 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  transition: 0.15s;
  z-index: 9999;
}

.social-icon:nth-child(1):hover a,
.social-icon:nth-child(2):hover a {
  background-color: #ffdd3a;
  box-shadow: 10px 10px #000;
  transform: translate(-3px, -3px) !important;
  opacity: 1 !important;
}

.social-icon a i {
  font-size: 35px;
  color: black;
  line-height: 50px;
  position: relative;
  z-index: 9999;
}